<%-include ("partials/header") -%>
<div class="row row-cols-2 row-cols-md-4 g-4">
  <div class="col">
    <div class="card h-100">
      <a
        href="https://depositphotos.com/96021032/stock-photo-white-mattresses-on-white.html"
      >
        <img
          class="card-img-top"
          src="/images/mattress.jpeg"
          alt="Card image cap"
        />
      </a>
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
      </div>
      <div class="card-footer">
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <a
        href="https://depositphotos.com/96021032/stock-photo-white-mattresses-on-white.html"
      >
        <img
          class="card-img-top"
          src="/images/mattress.jpeg"
          alt="Card image cap"
        />
      </a>
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
      </div>
      <div class="card-footer">
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <a
        href="https://depositphotos.com/96021032/stock-photo-white-mattresses-on-white.html"
      >
        <img
          class="card-img-top"
          src="/images/cycle.jpeg"
          alt="Card image cap"
        />
      </a>
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
      </div>
      <div class="card-footer">
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <a
        href="https://depositphotos.com/96021032/stock-photo-white-mattresses-on-white.html"
      >
        <img
          class="card-img-top"
          src="/images/mattress.jpeg"
          alt="Card image cap"
        />
      </a>
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
      </div>
      <div class="card-footer">
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <a
        href="https://depositphotos.com/96021032/stock-photo-white-mattresses-on-white.html"
      >
        <img
          class="card-img-top"
          src="/images/mattress.jpeg"
          alt="Card image cap"
        />
      </a>
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
      </div>
      <div class="card-footer">
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <a
        href="https://depositphotos.com/96021032/stock-photo-white-mattresses-on-white.html"
      >
        <img
          class="card-img-top"
          src="/images/mattress.jpeg"
          alt="Card image cap"
        />
      </a>
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
      </div>
      <div class="card-footer">
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
</div>

<%-include ("partials/footer") -%>
